body {
  height: 100%;
  background-color: dimgray;
}

.App {
  text-align: center;
}

.appBody {
  min-height: 100%;
}

.footer {
  height: 50px;
}

.centerHor {
  text-align: center;
}

/* ---------------- Main ---------------- */
.uriHeader {
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

/* ---------------- Comments ---------------- */
.dpCommentsSectionContainer {
  margin: 0 auto;
  width: 575px;
  padding: 5px 5px 25px 5px;
}

.dpCommentInputContainer {
  position: relative;
  width: 525px;
  height: 200px;
  margin: 0 auto;
}

.dpCommentInput {
  resize: none;
  width:100%;
  box-sizing: border-box;         /* For IE and modern versions of Chrome */
  -moz-box-sizing: border-box;    /* For Firefox                          */
  -webkit-box-sizing: border-box; /* For Safari                           */
  height: 150px;
}

.dpCommentsContainer {
  margin-top: 10px;
}

.dpCommentUserInput {
  width: 236px;
}

.dpInputOptionContainer {
  position: absolute;
  right: 0px;
  bottom: -8px;
  height: 33px;
}

.dpInputOption {
  
}

.dpCommentsStatus, .dpComment {
  width: 525px;
}

.dpCommentsStatus {
  padding-top: 20px;
}

.dpComment {
  min-height: 50px;
  padding: 5px 0px 5px 0px;
  margin: 0 auto;
}

.dpCommentHeader {
  margin-bottom: 5px;
}

.formError {
  border: solid 1px red;
}

.noDisplay {
  display: none;
}
